<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Boiler Plate Document</title>

<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body >
<div class="container_12 ">
 
  <div class="grid_12">
    <h1 class="cg-header">Content for  class "grid_12" Goes Here</h1>
  </div>
  <div class="clear"></div>
   <div class="grid_8">
   <div class=" cg-content">
     <p>Form</p>
     <form action="UsersList.php" method="post" name="formUsers" id="formUsers">

		
			<div class="input">
		 		<label for="created_at" class="input_field">Created_at</label>
		 		<input name="created_at" type="text" class="input_field" value=""/>
		 	</div>
			<div>
	 		  <label for="description">Description</label>
		 		<input type="text" value="" name="description"/>
	 	</div>
			<div>
		 		<label for="favourites_count">Favourites_count</label>
		 		<input type="text" value="" name="favourites_count"/>
		 	</div>
			<div>
		 		<label for="followers_count">Followers_count</label>
		 		<input type="text" value="" name="followers_count"/>
		 	</div>
			<div>
		 		<label for="following">Following</label>
		 		<input type="text" value="" name="following"/>
		 	</div>
			<div>
		 		<label for="id">Id</label>
		 		<input type="text" value="" name="id"/>
		 	</div>
			<div>
		 		<label for="isprotected">Isprotected</label>
		 		<input type="text" value="" name="isprotected"/>
		 	</div>
			<div>
		 		<label for="location">Location</label>
		 		<input type="text" value="" name="location"/>
		 	</div>
			<div>
		 		<label for="name">Name</label>
		 		<input type="text" value="" name="name"/>
		 	</div>
			<div>
		 		<label for="notifications">Notifications</label>
		 		<input type="text" value="" name="notifications"/>
		 	</div>
			<div>
		 		<label for="profile_background_color">Profile_background_color</label>
		 		<input type="text" value="" name="profile_background_color"/>
		 	</div>
			<div>
		 		<label for="profile_background_image_url">Profile_background_image_url</label>
		 		<input type="text" value="" name="profile_background_image_url"/>
		 	</div>
			<div>
		 		<label for="profile_background_tile">Profile_background_tile</label>
		 		<input type="text" value="" name="profile_background_tile"/>
		 	</div>
			<div>
		 		<label for="profile_image_url">Profile_image_url</label>
		 		<input type="text" value="" name="profile_image_url"/>
		 	</div>
			<div>
		 		<label for="profile_link_color">Profile_link_color</label>
		 		<input type="text" value="" name="profile_link_color"/>
		 	</div>
			<div>
		 		<label for="profile_sidebar_border_color">Profile_sidebar_border_color</label>
		 		<input type="text" value="" name="profile_sidebar_border_color"/>
		 	</div>
			<div>
		 		<label for="profile_sidebar_fill_color">Profile_sidebar_fill_color</label>
		 		<input type="text" value="" name="profile_sidebar_fill_color"/>
		 	</div>
			<div>
		 		<label for="screen_name">Screen_name</label>
		 		<input type="text" value="" name="screen_name"/>
		 	</div>
			<div>
		 		<label for="statuses_count">Statuses_count</label>
		 		<input type="text" value="" name="statuses_count"/>
		 	</div>
			<div>
		 		<label for="time_zone">Time_zone</label>
		 		<input type="text" value="" name="time_zone"/>
		 	</div>
			<div>
		 		<label for="url">Url</label>
		 		<input type="text" value="" name="url"/>
		 	</div>
			<div>
		 		<label for="utc_offset">Utc_offset</label>
		 		<input type="text" value="" name="utc_offset"/>
		 	</div>
			<div>
		 		<label for="verified">Verified</label>
		 		<input type="text" value="" name="verified"/>
		 	</div>

	    <div>
	    	<input type="hidden" value="" name="id"/>
		   <input type="submit" value="Save" name="save"/>
			<input type="button" value="Cancel" onclick="window.location='UsersList.php'"/>
	    </div>
	</form>
   </div>
   </div>
  
    <div class="grid_4">
      <p>Content for  class "grid_4" Goes Here</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  <div class="clear"></div>
   <div class="grid_12">
     <p class="cg-footer">Footer</p>
   </div>
  <div class="clear"></div>
</div>
</body><!--/ two-column-->
</html>