/* @override http://localhost/codegen/templates/HTML/admin_theme/style_green.css */

/* Resets */

 

body {
	line-height: 1;
	color: #5a5a5a;
	background: #fff url(../images/bg_blue.jpg) repeat-x;
	font: 62.5% Arial, Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

#logo {
	text-indent: -999px;
	height: 106px;
	width: 500px;
	background: url(../images/style_blue.jpg);
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

hr {
	display: none;
}

.clear {
	clear: both;
}

.break {
	background: #fff url(../images/hr.gif) repeat-x center;
	width: 100%;
	height: 1px;
	padding: 10px 0;
	margin-bottom: 20px;
}

/* Link Styles */

a:link, a:visited {
	color: #4f7785;
	text-decoration: underline;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:active {
	color: #4f7785;
	text-decoration: underline;
}

/* Headings */

h1 {
	font-size: 3.0em;
	color: #26272b;
	font-weight: bold;
	margin-bottom: 15px;
	padding-top: 10px;
}

/* General Styles */

.hidden {
	display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	display: block;
}

/* Wrapper */

#wrapper {
	position: relative;
	width: 970px;
}

/* Header */

#header {
	position: relative;
	height: 116px;
}

#user_info {
	position: absolute;
	right: 10px;
	top: 30px;
	font-size: 1.4em;
	line-height: 1.4em;
	color: #6b6c6b;
}

#user_info a {
	color: #cfdcff;
}

#user_info a:hover {
	color: #fff;
}

#navigation {
	position: absolute;
	bottom: 0px;
	left: 30px;
	z-index: 999;
	list-style: none;
}

#navigation li {
	float: left;
	margin-right: 2px;
	background: url(../images/right-tab-blue.gif) no-repeat 100% 0px;
	font-size: 1.4em;
}

#navigation li a {
	float: left;
	display: block;
	height: 2.0em;


/* Targets IE 5.5 only */
	hei\ght: 1.4em;

/* All Other Browsers */
	padding: 0.6em 1.5em 0.1em 1.4em;
	letter-spacing: -0.03em;
	background: url(../images/left-tab-blue.gif) no-repeat 0% 0px;
	color: #cfdcff;
	text-decoration: none;
	overflow: hidden;
}

#navigation li.current_page_item {
	background-position: 100% -150px;
}

#navigation li.current_page_item a {
	background-position: 0% -150px;
	color: #5a5a5a;
}

#navigation li:hover {
	background-position: 100% -150px;
}

#navigation li:hover a {
	background-position: 0% -150px;
	color: #5a5a5a;
}

/* Content */

#content {
	float: left;
	margin-left: 30px;
	padding: 30px 20px;
	width: 610px;
}

* html #content {
	marg\in-left: 15px;
}

#content p {
	font-size: 1.5em;
	line-height: 1.6em;
	margin-bottom: 1.0em;
}

.success {
	padding: 2.0em 3.0em;
	padding-bottom: 1.0em;
	background: #d0d8ec;
	border: 1px solid #37529e;
	color: #37529e;
	margin: 20px 0px;
}

.success span {
	font-size: 1.2em;
	font-weight: bold;
}

.error {
	padding: 2.0em 3.0em;
	padding-bottom: 1.0em;
	background: #e7d5cc;
	border: 1px solid #c57146;
	color: #89352a;
	margin: 20px 0px;
}

.error span {
	font-size: 1.2em;
	font-weight: bold;
}

/* Form Styles */

form {
	margin: 40px 0px 20px 0px;
}

label, span {
	font-size: 1.5em;
}

label {
	display: block;
	margin: 10px 0px;
}

.option {
	display: inline;
}

.form_top {
	margin-top: 30px;
}

.small {
	border: 1px solid #d7d7d7;
	padding: 4px;
	width: 300px;
	color: #5a5a5a;
	display: block;
}

.medium {
	border: 1px solid #d7d7d7;
	padding: 4px;
	width: 447px;
	color: #5a5a5a;
	display: block;
}

.large {
	border: 1px solid #d7d7d7;
	padding: 4px;
	width: 602px;
	color: #5a5a5a;
	display: block;
}

.submit {
	border: none;
	padding: 6px 20px;
	margin-right: 8px;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 140px;
	color: #fff;
	background: #595959;
}

.submit:hover {
	background: #6c6c6c;
	cursor: pointer;
}

.right_button {
	float: right;
	margin-right: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

form .right {
	margin-top: 30px;
	margin-bottom: 10px;
}

form span {
	font-style: italic;
	font-size: 0.9em;
	color: #889281;
	display: block;
	padding: 10px 0px;
}

/* Table Styles */

table {
	font-size: 1.2em;
	line-height: 1.3em;
}

table strong {
	color: #343434;
}

.table_header {
	font-size: 0.8em;
	height: 3.0em;
	line-height: 3.0em;
	background: #4661a4;
	color: #FBFBFB;
	text-transform: uppercase;
}

th {
	padding: 0px 10px;
	border-top: 1px solid #2f4380;
	border-bottom: 1px solid #2f4380;
}

td {
	padding: 10px 10px;
	background: #f1f1f1;
}

.table_info td {
	padding-bottom: 20px;
	border-bottom: 1px solid #9f9f9f;
}

/* Sidebar */

#sidebar {
	margin-left: 690px;
	margin-top: 40px;
	padding-bottom: 80px;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 270px;
	background: #f2f2f2;
	border: 1px solid #d8d8d8;
}

* html #sidebar {
	position: absolute;
	top: 130px;
	right: 0;
}

#sidebar h2 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 20px 0px 15px 20px;
	background: #e2e2e2 url(../images/h2-bg.png) repeat-y 0 0;
	border-bottom: 1px solid #d8d8d8;
}

#sidebar p {
	padding: 20px;
}

#sidebar ul {
	margin-left: 25px;
}

#sidebar li {
	background: url(../images/li.gif) no-repeat 0 50%;
	padding-left: 10px;
	line-height: 1.7em;
}