<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quik v1 - An Admin Skin</title>
<link href="style_red.css" rel="stylesheet" type="text/css" media="all" /></head>
<body>
<div id="wrapper">
  <div id="header"> <img src="images/logo_red.jpg" height="116" width="530" alt="Logo" />
    <ul id="navigation">
      <li class="current_page_item"> <a href="#">Dashboard</a> </li>
      <li><a href="#">Menu Item 1</a></li>
      <li><a href="#">Menu Item 2</a></li>
      <li><a href="#">Menu Item 3</a></li>
    </ul>
    <p id="user_info">Logged in as Username, <a href="#">Logout?</a></p>
  </div>
  <div id="content">
    <h1>Title</h1>
    <p>General text looks like this.  Just a nice big Arial font...</p>
    <div class="break"></div>
    <div class="success">
      <p><span>Congratulations</span> Your information has been submitted...</p>
    </div>
    <div class="error">
      <p><span>Error</span> The following fields were not entered correctly...</p>
    </div>
    <form action="" method="get">
      <fieldset>
      <label for="one">Form Field - Small</label>
      <input type="text" value="" class="small" id="one"  />
      <span>Help instructions for each form section would go in here below the form.</span>
      <label for="two">Form Field - Medium</label>
      <input type="text" value="" class="medium" id="two"  />
      <span>Help instructions for each form section would go in here below the form.</span>
      <label for="three">Form Field - Large</label>
      <input type="text" value="" class="large" id="three"  />
      <span>Help instructions for each form section would go in here below the form.</span>
      <input type="submit" value="Submit Form" class="submit" />
      </fieldset>
    </form>
    <div class="break"></div>
    <h1>Sample Table</h1>
    <form action="" method="get">
      <table width="610px" border="0" cellspacing="0" cellpadding="0">
        <tr class="table_header">
          <th scope="col">Column 1</th>
          <th scope="col">Column 2</th>
          <th scope="col">Column 3</th>
          <th scope="col">Action?</th>
          <th scope="col">Action?</th>
          <th scope="col">&nbsp;</th>
        </tr>
        <tr>
          <td><strong>Username</strong><br />
            <a href="mailto:email@email.com">email@email.com</a></td>
          <td>Value</td>
          <td>Value<br />
            <a href="#">Link Somewhere</a></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><a href="#">Modify</a> <br />
            <a href="#">Delete</a></td>
        </tr>
        <tr class="table_info">
          <td colspan="6"><strong>Alternate Long Row:</strong> <a href="http://themeforest.net">Link Somewhere</a></td>
        </tr>
        <tr>
          <td><strong>Username</strong><br />
            <a href="mailto:email@email.com">email@email.com</a></td>
          <td>Value</td>
          <td>Value<br />
            <a href="#">Link Somewhere</a></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><a href="#">Modify</a> <br />
            <a href="#">Delete</a></td>
        </tr>
        <tr class="table_info">
          <td colspan="6"><strong>Alternate Long Row:</strong> <a href="http://themeforest.net">Link Somewhere</a></td>
        </tr>
        
        <tr>
          <td><strong>Username</strong><br />
            <a href="mailto:email@email.com">email@email.com</a></td>
          <td>Value</td>
          <td>Value<br />
            <a href="#">Link Somewhere</a></td>
          <td><input type="checkbox" /></td>
          <td><input type="checkbox" /></td>
          <td><a href="#">Modify</a> <br />
            <a href="#">Delete</a></td>
        </tr>
        <tr class="table_info">
          <td colspan="6"><strong>Alternate Long Row:</strong> <a href="http://themeforest.net">Link Somewhere</a></td>
        </tr>
      </table>
      <fieldset>
      <input type="submit" value="Action Ticked" class="submit right_button" />
      <input type="submit" value="Delete" class="submit right" />
      </fieldset>
    </form>
    <br class="clear" />
    <div class="break"></div>

  </div>
  <div id="sidebar">
    <h2>Sidebar of Useful Stuff</h2>
    <p>Here are some related links you might be interested in:</p>
    <ul>
      <li><a href="#">Link to something</a></li>
      <li><a href="#">Link to something</a></li>
      <li><a href="#">Link to something</a></li>
    </ul>
  </div>
  <div id="footer"> </div>
</div>
</body>
</html>
